<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='password')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-12">관심 있는 턔그</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        참여 하고 싶은 태그
                    </div>
                    <input id="tags" type="text" name="tags" class="tagify--outside" aria-describedby="tagsHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascripte">
    $(function () {
        function tagRequest(url,tagTitle){
            $.ajax({
                dataType:"json",
                autocomplete: {
                enabled: true,
                rightKey: true,
                },
                contentType:"application/json; charset=utf-8",
                method="POST",
                url= "/settings/tags" + url,
                data: JSON.stringify({'tagTitle',tagTitle})
            }).done(function (data,status) {
            console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add" , e.detail.data.value);
        }

        function onRemove(e){
            tagRequest("/remove", e.detail.data.value);
            }

        var tagInput = document.querySelector("#tags");
        var tagify = new Tagify(tagInput,{
        pattern: /^.{0,20}$/,
        dropdown: {
            enabled : 1,
            }
    });
    tagify.on("add",onAdd);
    tagify.on("remove",onRemove);

    tagify.DOM.input.classList.add('form-control');
    tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);

});
</script>

</body>
</html>